key=passphrase:passphrase_passwd_file={{ sync_server_ecrypt_password_file }}
ecryptfs_sig={{ sync_server_ecrypt_sig }}
ecryptfs_fnek_sig={{ sync_server_ecrypt_sig }}
ecryptfs_cipher=aes
ecryptfs_key_bytes=32
ecryptfs_passthrough=n
ecryptfs_enable_filename_crypto=y
